.ant-row {
  .ant-col {
    .ant-form-item-label {
      label {
        width: 100px;
        font-weight: bold;
        text-align: right;
        display: inline-block;
      }
    }
  }

  .fieldset {
    position: relative;
    border: 1px solid black;
    padding: 20px 20px 30px 20px;
    // background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-recruitment-background-banner-image_159061.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    .fieldset-box {
      color: white;
      padding: 20px;
      content: "";
      font-size: 16px;
      font-weight: bold;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      // background-color: rgba(0, 167, 243, 0.6);
      border-radius: 20px;
      // label {
      //   color: white;
      // }
    }
  }

  .ant-table-cell {
    text-align: center;
  }
}

.row-table {
  margin-top: 20px;
}

.container-item {
  background-image: linear-gradient(to bottom right, white, #ccffff);
  width: 100%;
  height: fit-content;
  box-shadow: 0px 0px 1px 1.5px #d9d9d9;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  margin-top: 20px;
  .image-item {
    width: fit-content;
    height: fit-content;

    .image-cv {
      width: 200px;
      height: 300px;
    }

    .button-cv {
      margin-left: 24%;
      width: 50px;
      height: fit-content;
      background-color: DodgerBlue;
      color: white;
      border: none;
      padding: 5px;
      cursor: pointer;

      .link-cv {
        color: white;
        text-decoration: none;
      }
    }
  }

  .answer-item {
    font-size: 20px;
    color: #000099;
    font-weight: bold;
    text-align: left;

    .answer-sub-item {
      font-weight: 700;
      font-size: 25px;
      color: black;
    }
  }

  .context-item {
    text-align: left;
    font-size: 20px;
    color: #000099;
    font-weight: bold;
    .text-item {
      font-weight: 600;
      font-size: 20px;
      color: black;
      white-space: pre-wrap;
      .special-text {
        font-size: 18px;
        color: black;
        border-radius: 5px;
        padding: 0px 2px 0px 2px;
        background-color: #FBEA49;
      }
    }
  }
}

.document-search {
  padding: 10px 0 10px 0;
}

//.menu{
//  position: fixed;
//  z-index: 2;
//}

.loading {
  color: rgb(12, 14, 14);
}

.content {
  height: 100px !important;
  overflow: scroll;
}

.relevanceText{
  background-color: #CDCDCD;
  width: fit-content;
  color: black;
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
  display: inline;
  margin-right: 50px;
  float: right;
  font-size: 20px;
  font-weight: 600;
}